pip~=22.3.1
attrs==22.2.0
pytest~=7.2.0
mypy~=0.991
lxml~=4.9.2
tomli~=2.0.1
python-dotenv~=0.21.0
setuptools==65.6.3
numpy~=1.24.0
pytz~=2022.7
cloudpickle~=2.2.0
six~=1.16.0
packaging~=22.0
zipp~=3.11.0
pandas~=1.5.2
pandas-stubs~=1.5.2
sklearn-stub~=0.0.3
data-science-types